---
import "../layout/layout.css";
import { EMAIL_LINK, GITHUB_LINK, LINKEDIN_LINK } from "../../consts";
import { pageContent, Studying } from "../landingpage/content";
---

<header>
  <h1>Ryan Moreau</h1>
  <nav>
    {
      pageContent.map((content) => {
        return (
          <a href={`#${content.id}`} data-to-scrollspy-id={content.id}>
            {content.company}
          </a>
        );
      })
    }
    <a href={`#${Studying.id}`} data-to-scrollspy-id={Studying.id}> Current</a>
    <span class="social-icons">
      <a href={EMAIL_LINK} target="_blank">
        <img src="/icon/mail.svg" alt="Catch up over email" />
      </a>
      <a href={LINKEDIN_LINK} target="_blank">
        <img src="/icon/linkedin.svg" alt="View the resume on LinkedIn" />
      </a>
      <a href={GITHUB_LINK} target="_blank">
        <img src="/icon/github.svg" alt="View the resume on LinkedIn" />
      </a>
    </span>
  </nav>
</header>
